<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div>
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: 'Email Address'%>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'Password' %>
    </div>

    <div>
      <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
      <% end %>
    </div>

      <%= f.submit "Log in", class: "btn btn-primary button" %>
    <% end %>
  </div>
  <div class="newUser">
    <p>New user? <%= link_to "Sign up now!", signup_path%></p>
  </div>

</div>
