<% provide(:title, @user.name.split.map(&:capitalize)*' ') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>'s Checkins
      </h1>
    </section>
  </aside>

  <table>
    <thead>
      <tr>
        <th colspan="1"></th>
        <th>Name</th>
        <th>Brewery</th>
        <th>Beer type</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @user.checkins.each do |checkin| %>
        <tr>
          <td class="pic">
              <%= image_tag checkin.picture.url if checkin.picture? %>
          </td>
          <td><%= link_to checkin.beer.name.split.map(&:capitalize)*' ', checkin.beer %></td>
          <td><%= link_to checkin.beer.brewery.name.split.map(&:capitalize)*' ' , checkin.beer.brewery%></td>
          <td><%= checkin.beer.beer_type.split.map(&:capitalize)*' ' %></td>
          <td><%= checkin.rating %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
