<header>
  <div class="headerFlex">
    <% if logged_in? %>

      <div id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>


      <div class="navigation">
        <ul>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
        <h2 class="loginLink"><%= link_to "Log in", login_path %></h2>
    <% end %>
  </div>

  <div id="navBar" class="navBar">
    <ul>
      <li><%= link_to "Check in Beer", checkin_path %></li>
      <li><%= link_to "Add Beer", addbeer_path %> </li>
      <li><%= link_to "Beer List", beers_path %></li>
      <li><%= link_to "Discover Breweries", breweries_path %></li>
      <li><%= link_to "View Checkins", viewcheckin_path %></li>
    </ul>
  </div>
</header>
