<header>
  <div class="headerFlex">
    <div class="checkIn">
      <%= link_to "Check in Beer", addbeer_path %>
    </div>
    <div class="navigation">
      <ul>
        <li><%= link_to "Beer List", beers_path %></li>
        <li><%= link_to "Profile", '#' %></li>
        <li><%= link_to "Discover Breweries", breweries_path %></li>
        <li><%= link_to "Discover Bars", locations_path %></li>
      </ul>
    </div>
  </div>
</header>
