<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="form">
      <%= yield %>
    </div>
  </body>
</html>
